@page "/image-viewer"
@using Syncfusion.Blazor
@using Syncfusion.Blazor.ImageEditor

<div class="toolbar">
    <TopToolbar @ref="_topToolbar" BackClick="BackClickHandler"></TopToolbar>
</div>
<div class="control-section">
    <SfImageEditor @ref="_imageEditor" Height="100%">
        <ImageEditorEvents Created="created"></ImageEditorEvents>
    </SfImageEditor>
</div>
@code {
    SfImageEditor _imageEditor;
    TopToolbar _topToolbar;
    Index _indexDetails;
    private void created()
    {
        var data = QueryHelpers.ParseQuery(NavigationManager.ToAbsoluteUri(NavigationManager.Uri).Query);
        if (data.TryGetValue("fileName", out var fileName))
        {
            _topToolbar.RootName = fileName.ToString();
        }
        if (data.TryGetValue("imageUrl", out var imageUrl))
        {
            string imageUrlString = imageUrl.ToString(); // Convert to string explicitly
            _imageEditor.OpenAsync(imageUrlString);
        }
    }
    private void BackClickHandler()
    {
        NavigationManager.NavigateTo(NavigationManager.BaseUri);
    }
}
