@page "/about"

<div class="toolbar">
    <TopToolbar @ref="_topToolbar" BackClick="BackClickHandler"></TopToolbar>
</div>
<div class="about-container">
    <p>
        This document explorer demo application showcases several Syncfusion Blazor UI components together in a real-world application scenario. You can explore the <a href="https://github.com/syncfusion/blazor-showcase-document-explorer" target="_blank">source code</a> of this application and use it as a reference for integrating Syncfusion Blazor UI components into your applications.
    </p>
    <div class='list-heading'>List of Syncfusion Blazor UI components used in this sample</div>
    <div class='about-component'>
        <div class='control-item'>
            <span class="sb-icons sfimage-file-manager e-sb-icon control-icon"></span>
            <a class='control-name' href="https://blazor.syncfusion.com/documentation/file-manager/getting-started" target="_blank">File Manager</a>
        </div>
        <div class='control-item'>
            <span class="sb-icons sfimage-treeview e-sb-icon control-icon"></span>
            <a class='control-name' href="https://blazor.syncfusion.com/documentation/treeview/getting-started" target="_blank">TreeView</a>
        </div>
        <div class='control-item'>
            <span class="sb-icons sfimage-sidebar e-sb-icon control-icon"></span>
            <a class='control-name' href="https://blazor.syncfusion.com/documentation/sidebar/getting-started" target="_blank">Sidebar</a>
        </div>
        <div class='control-item'>
            <span class="sb-icons sfimage-numerictextbox e-sb-icon control-icon"></span>
            <a class='control-name' href="https://blazor.syncfusion.com/documentation/numeric-textbox/getting-started/" target="_blank">Numeric TextBox</a>
        </div>
        <div class='control-item'>
            <span class="sb-icons sfimage-toolbar e-sb-icon control-icon"></span>
            <a class='control-name' href="https://blazor.syncfusion.com/documentation/toolbar/getting-started/" target="_blank">Toolbar</a>
        </div>
        <div class='control-item'>
            <span class="sb-icons sfimage-button e-sb-icon control-icon"></span>
            <a class='control-name' href="https://blazor.syncfusion.com/documentation/button/getting-started" target="_blank">Button</a>
        </div>
        <div class='control-item'>
            <span class="sb-icons sfimage-pdf-viewer e-sb-icon control-icon"></span>
            <a class='control-name' href="https://blazor.syncfusion.com/documentation/pdfviewer/getting-started/features/" target="_blank">PDF Viewer</a>
        </div>
        <div class='control-item'>
            <span class="sb-icons sfimage-document-editor e-sb-icon control-icon"></span>
            <a class='control-name' href="https://blazor.syncfusion.com/documentation/document-editor/getting-started/features/" target="_blank">Word Processor</a>
        </div>
        <div class='control-item'>
            <span class="sb-icons sfimage-presentation e-sb-icon control-icon"></span>
            <a class='control-name' href="https://help.syncfusion.com/file-formats/presentation/overview" target="_blank">Presentation</a>
        </div>
    </div>
</div>
@code {
    private TopToolbar _topToolbar;
    protected override void OnAfterRender(bool firstRender)
    {
        if (_topToolbar != null)
        {
            _topToolbar.RootName = "About";
        }
    }
    #region TopToolBar Interaction
    private void BackClickHandler()
    {
        NavigationManager.NavigateTo(NavigationManager.BaseUri);
    }
    #endregion
}